html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  max-width: 90ch;
  padding: 1rem;
  line-height: 1.5;
  /* background-color: #a802f5; */
  text-rendering: optimizeSpeed;
}

* {
  box-sizing: border-box;
}

:root {
  --mono-font: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --quote-font: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

ul {
  list-style: none;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

/* remove animations for accessibility */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-size: 2.4em;
}
