html {
  background-color: #f1f5f9;
  font-family: sans-serif;
  background: linear-gradient(
    100deg,
    #ffebeb,
    #fff6eb,
    #feffeb,
    #eeffeb,
    #ebfdff,
    #ebf2ff,
    #ffebff,
    #eeebff,
    #fffffc
  );
  background-size: 180% 180%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-bottom: 0;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --mono-font: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --cursive-font: "Indie Flower";
  --sans-font: "Space Grotesk";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.5em;
}

h3 {
  font-family: "Indie Flower", cursive;
  font-size: 2.2em;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100ch;
    min-height: 100vh;
    background: orange;
  }
}

@media (min-width: 600px) {
  .container {
    margin: 0 auto;
    max-width: 75ch;
  }
}

/* remove animations for accessibility */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
