---
import BaseLayout from "../../layouts/BaseLayout.astro";
import AllNotesListItem from "../../components/AllNotesListItem.astro";
import Section from "../../components/Section.astro";
import PageHeader from "../../components/PageHeader.astro";
import Tag from "../../components/Tag.astro";
const allNotes = await Astro.glob("../notes/*.md");
const tags = [...new Set(allNotes.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Notes by Tag";
---

<BaseLayout page="tags">
  <PageHeader url="/" title={pageTitle} />
  <div>
    <ul role="list">
      {
        tags.map((tag) => (
          <li>
            <Tag tag={tag} size="xl" />
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style>
  li {
    display: block;
    text-align: center;
  }
</style>
