<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>astroboten</h1>
    <h1>blerg</h1>
    <p>
      I built a Jekyll blog and deployed it with Github Actions last week but it
      took waaaay too long because of reasons and dependancies and ruby and
      probably me.
    </p>
  </body>
</html>
