---
import Tag from "./Tag.astro";
const { url, pubDate, tags, title } = Astro.props;
---

<li class="snippet">
  <a href={url}>{title}</a>
  <span class="date">{pubDate.slice(0, 10)}</span>
</li>

<style>
  .date {
    margin-left: 0.5em;
    font-size: 0.7em;
    font-family: var(--mono-font);
  }

  .snippet {
    margin-bottom: 0.5em;
    display: block;
  }
</style>
