---
import Section from "./Section.astro";
import Back from "../components/Back.astro";
import Heading from "../components/Heading.astro";
---

<Section>
  <Back url="notes" />
  <Heading heading="All Notes" />
</Section>

<style>
  h1 {
    text-align: center;
  }
</style>
