---
import Container from "./Container.astro";
const { title, url, pubDate, tags } = Astro.props;
---

  <div class="h-50 p-4 my-4 bg-gradient-to-br rounded from-teal-100 to-pink-100">


  <p>{pubDate.slice(0, 10)}</p>
  <li>
    <a class="text-true-gray-900 text-2xl font-bold py-2" href={url}>{title}</a>
  </li>
  <div class="py-1">
    {
      tags.map((tag) => (
        <span="tag">
          {" "}
          <a href={`/tags/${tag}`}>{tag}</a>
        </span>
      ))
    }
  </div>
</div>
