---
import Section from "./Section.astro";
import Heading from "./Heading.astro";
---

<Section>
  <p>© {new Date().getFullYear()} Serra Boten</p>
</Section>

<style>
  p {
    margin-top: 5rem;
    text-align: center;
    color: grey;
  }
</style>
