---
import Section from "./Section.astro";
import Heading from "./Heading.astro";
const heart = "<3";
---

<section>
  <p>Built with {heart} and <a href="http://astro.build">Astro</a> 🚀</p>
  <p>© {new Date().getFullYear()} Serra Boten</p>
</section>

<style>
  section {
    font-family: var(--mono-font);
    margin-top: 4rem;
    text-align: center;
  }
</style>
