---
import Section from "./Section.astro";
const heart = "<3";
---

<div>
  <p>Built with {heart} and <a href="http://astro.build">Astro</a> 🚀</p>
  <p>© {new Date().getFullYear()} Serra Boten</p>
</div>

<style>
  div {
    font-family: var(--mono-font);
    display: flex;
    justify-content: space-between;
    padding: 3em 0.2em 0;
    margin: 0;
  }
</style>
