---
import Section from "./Section.astro";
import Heading from "./Heading.astro";
---

<Section>
  <h1>Serra Boten</h1>

  <p class="bio">
    Hello, World! My name is Serra and this is my Digital Garden. Here you will
    find my writing about code, technology, projects and my post-social-media
    life as a parent and aging Millenial.🪴🌺
  </p>

  <!-- <a href="#"> All Notes</a> -->
</Section>
<style>
  h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 900;
    font-size: 100px;
    width: 6ch;
    text-align: center;
    line-height: 0.75;
    margin: 1.5em auto 0.6em;
  }

  .bio {
    text-align: justify;
    font-size: 1rem;
    font-family: var(--mono-font);
    max-width: 60ch;
    margin: 5rem auto;
    display: block;
  }
</style>
