<div class="flex flex-col items-center p-3">
  <div class="h-60 flex items-end">
    <p class="text-8xl font-bold mx-auto mb-3">serra boten</p>
  </div>
  <div>here is some stuff about me etc</div>
</div>
