---
const { heading } = Astro.props;
---

<h2>{heading}</h2>

<style>
  .heading {
    font-family: "Space Grotesk", sans-serif;
    font-size: 60px;
    width: 6ch;
    text-align: center;
    line-height: 0.75;
    margin: 0 auto;
    margin-top: 1.5em;
  }
</style>
