---
import Section from "./Section.astro";
import Heading from "./Heading.astro";
---

<h1>Serra Boten</h1>
<p>some stuff about me goes here</p>

<style>
  h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 900;
    font-size: 100px;
    width: 6ch;
    text-align: center;
    line-height: 0.75;
    margin: 0 auto;
    margin-top: 1.5em;
  }

  p {
    text-align: center;
  }
</style>
