---
import Tag from "./Tag.astro";
const { url, pubDate, tags, title } = Astro.props;
---

<li class="snippet">
  <span class="date">{pubDate.slice(0, 10)}</span>
  <a href={url} class="title">{title}</a>
  <ul>
    {
      tags.map((tag) => (
        <li class="tag">
          <Tag tag={tag} />
        </li>
      ))
    }
  </ul>
</li>

<style>
  .tag {
    display: inline-block;
    margin-bottom: 0;
  }
  .date {
    display: block;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-family: var(--mono-font);
  }

  .title {
    font-family: "Indie Flower", cursive;
    font-size: 2.5em;
    padding: 0;
    color: black;
    display: inline-block;
    margin-right: 0.2em;
  }

  .snippet {
    margin: 0 1.9em 1.5em;
    display: block;
    padding: 0.2em;
  }

  ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 0.2em;
  }
</style>
