---
import Container from "./Container.astro";
// import BlogPost from "./BlogPost.astro";
import Snippet from "./Snippet.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Container>
  <div class="p-1">
    <h1 class="text-2xl">Recent Posts</h1>

    <ul>
      {
        allPosts.map((post) => (
          <Snippet
            url={post.url}
            title={post.frontmatter.title}
            pubDate={post.frontmatter.pubDate}
            tags={post.frontmatter.tags}
          />
        ))
      }
    </ul>
  </div>
</Container>
