---
import Section from "./Section.astro";
import RecentListItem from "./RecentListItem.astro";
import Heading from "./Heading.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Section>
  <Heading heading="Recently Noted" />

  <ul role="list">
    {
      allPosts.map((post) => (
        <RecentListItem
          url={post.url}
          title={post.frontmatter.title}
          pubDate={post.frontmatter.pubDate}
          tags={post.frontmatter.tags}
        />
      ))
    }
  </ul>
</Section>

<style>
  ul {
    padding: 0;
  }
</style>
