---
const { url, pubDate, tags, title } = Astro.props;
---
    <li>
      <div>
    <p>{pubDate.slice(0,10)}</p>
    <a class="text-true-gray-900 text-2xl font-bold py-2" href={url}>{title}</a>
    <ul>
      <li>
    {
    tags.map((tag) => (
      <span="tag">
      {" "}
      <a href={`/tags/${tag}`}>{tag}</a>
      </span>
      ))
    }
    </li>
  </ul>
</div>
    </li>