---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Recent from "../components/Recent.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>astroboten</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Space+Grotesk:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="gradient-background">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  /* .gradient-background {
    background: linear-gradient(
      100deg,
      #ffebeb,
      #fff6eb,
      #feffeb,
      #eeffeb,
      #ebfdff,
      #ebf2ff,
      #ffebff,
      #eeebff,
      #fffffc
    );
    background-size: 180% 180%;
    animation: gradient-animation 20s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */
</style>
