---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Recent from "../components/Recent.astro";
import Head from "../components/Head.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <Head />
  <body>
    <slot />
    <Footer />
  </body>
</html>
