---
// import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Recent from "../components/Recent.astro";
import Container from "../components/Container.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>astroboten</title>
  </head>
  <body>
    <div class="max-w-md mx-auto rounded-xl overflow-hidden md:max-w-2xl mt-9">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
