---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import Tag from "../components/Tag.astro";
import Sig from "../components/Sig.astro";
const { frontmatter } = Astro.props;
import PageHeader from "../components/PageHeader.astro";

const title = frontmatter.title;

// make a human readable date
const date = new Date(frontmatter.pubDate);
const options = {
  weekday: "long",
  month: "long",
  day: "numeric",
  year: "numeric",
};
---

<BaseLayout page="notes">
  <PageHeader url="/notes" title={title} />
  <Section>
    <div class="allNotes">
      <div>
        <span>{date.toLocaleDateString("en-us", options)}</span>
      </div>
      <slot />
      <Sig />
      <div class="footer">
        Tagged:
        {
          frontmatter.tags.map((tag) => (
            <span class="tag">
              <Tag tag={tag} />
            </span>
          ))
        }
      </div>
    </div>
  </Section>
</BaseLayout>
<style>
  .tag {
    display: inline-block;
  }

  .footer {
    font-family: var(--mono-font);
    margin-top: 1rem;
  }

  span {
    display: block;
  }
</style>
